body{
    background-color: lightblue;
    color: dimgrey;
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}

#buttons{
    justify-content: center;
}

#map {
    width: 70%;
    height: 300px;
    justify-content: center;
    margin: auto;
    border-color: white;
    border-radius: 15px;
}

input{
    width: 200px;
    border-radius: 15px;
    font-size: 18px;
    justify-items: center;
}

.user-search {
    display: flex;
    justify-content: center;
}

.card{
    width: 12.5rem;
    height: 250px;
    background-color: #8fd3f4;
    color: #444444;
    border-radius: 15px;
    font-size: 18px;
}


.list-group{
    display: flex;
    justify-items: center;
    background-color: #F6F6F6;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
}
#submit{
    background-color: dimgrey;
    color: lightblue;
    border-color: lightblue;
}

#weather{
    display: flex;
    justify-content: center;
}

.card-header{
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: #F6F6F6;
}
.navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}
