body{
    background-color: #E1F1DD;
    color: dimgrey;
    justify-content: center;
    font-family: 'Quicksand',sans-serif;
    font-weight: bolder;
}

#buttons{
    justify-content: center;
}

#map {
    width: 70%;
    height: 300px;
    justify-content: center;
    margin: auto;
    border-color: white;
    border-radius: 5px;
}

input{
    width: 200px;
    background-color: #E1F1DD;
    border-color: #E1F1DD;
    color: #444444;
    border-radius: 5px;
    font-size: 15pxpx;
    margin-right: 5px;
    justify-content: center;
}

.user-search {
    display: flex;
    justify-content: center;
}

.card{
    width: 12.5rem;
    height: 250px;
    background-color: #87A7B3;
    color: #444444;
    font-size: 16px;
}


.list-group{
    display: flex;
    justify-items: center;
    background-color: #F6F6F6;
    font-family: 'Quicksand',sans-serif;
    font-weight: bolder;
}
#submit{
    background-color: #87A7B3;
    color: #E1F1DD;
}

#weather{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-header{
    display: flex;
    justify-content: center;
}

#navbar{
    background-color: #CDC7BE;
}
#letsCheck {
    color: #444444;
    font-size: 30px;
}
.navbar-brand{
    font-family: 'Quicksand',sans-serif;
    font-size: 50px;
    color: #766161;
    background-color: #CDC7BE;
}
